<nav role="navigation" id="top">
  <div class="nav-wrapper"><a id="logo-container" href="/index.html" class="brand-logo">Gary A. Newsome</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="<%= current_page.path == 'index.html' ? '' : '/' %>#resume">Resume</a></li>
      <li><a href="<%= current_page.path == 'index.html' ? '' : '/' %>#current">Current Projects</a></li>
      <li><a href="<%= current_page.path == 'index.html' ? '' : '/' %>#blog">Blog</a></li>
      <li><a href="<%= current_page.path == 'index.html' ? '' : '/' %>#about">About</a></li>
      <!-- <li><a href="http://www.garyanewsome.wordpress.com" target="_blank">WordPress</a></li> -->
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="<%= current_page.path == 'index.html' ? '' : '/' %>#resume">Resume</a></li>
      <li><a href="<%= current_page.path == 'index.html' ? '' : '/' %>#current">Current Projects</a></li>
      <li><a href="<%= current_page.path == 'index.html' ? '' : '/' %>#blog">Blog</a></li>
      <li><a href="<%= current_page.path == 'index.html' ? '' : '/' %>#about">About</a></li>
      <!-- <li><a href="http://www.garyanewsome.wordpress.com" target="_blank">WordPress</a></li> -->
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>   
</nav>