---
layout: layout
---
<div class="blog-bkg">
  <div class="container blog" id="blog">
    <h4 class="this-is-a-blog">Writings&#8230;</h4>
    <div class="row">
        <% blog.articles.each do |article| %>
          <article class="col s12" style="padding-bottom: 2em;">
            <h5 class="blog--title">
              <a href="<%= article.url %>"><%= article.title %></a>
            </h5>
            <time><%= article.date.strftime('%b %e %Y') %></time>

            <%= article.summary(750, '...') %>

            <a href="<%= article.url %>">Read more</a>
          </article>
        <% end %>
    </div>
  </div>
</div>
